/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

ul li a {
    color: white;
}

.btn {
    padding: 10px 15px;
    border-radius: 2em;
}

.white {
    color: black;
    background-color: white;
}

/* ***** header ***** */

header {
    line-height: 80px;
    background-color: #3161E0;
}

header,
header .logo,
header nav,
#login {
    height: 80px;
}

header .logo, 
#login {
    width: 15%;
}

header nav {
    text-align: center;
    width: 70%;
}

header .logo img {
    vertical-align: middle;
}

header nav li {
    display: inline-block;
    margin: 0 15px;
}

#login {
    text-align: right;
}

/* ***** jumbobox *****  */

#jumbobox {
    height: 550px;
}

/* ***** main ***** */

/* ***** footer *****  */


/* +++++ debug +++++ */

/* .debug header {
    background-color: red;
} */

.debug header .logo,
.debug header nav,
.debug #login {
    /* background-color: blue; */
    border: 1px solid black;
}

.debug #jumbobox {
    background-color: tomato;
}

.debug main {
    height: 1000px;
    background-color: grey;
}

.debug footer {
    height: 200px;
    background-color: black;
}